<h1>House Keeping Report!</h1><br>


<h3>Total Jobs Posted:<%= @jobs.size %></h3><br>

<h3>Users who posted Jobs: </h3><br>
<% @jobs.each do |job| %> 
   <h3> <%= job.user.name %> </h3>
<% end %> 

<h3>Your Job count: <%= current_user.jobs.count %> </h3><br>


<h3>See all Jobs below:</h3>

<div class="scroll">

    <% @jobs.each do |job| %> 
        <h3><a href="/jobs/<%= job.id %>"><%= job.title %></a></h3>
        <img src="<%= job.image_url %>" alt="<%= job.title %>" height="200" width="200"><br><br>
        <strong>Created At: <%= job.created_at %></strong>
        <p><%= job.description %></p><br>
        <p><%= job.user.name %></p>
    <% end %>

</div>