<h3><%= @jobs.title %></h3>
<img src="<%= @jobs.image_url %>" alt="<%= @jobs.title %>" height="200" width="200"><br><br>
<strong>Created At: <%= @jobs.created_at %></strong>
<p><%= @jobs.description %></p><br>
<p><%= @jobs.user.name %></p>

<a href="/jobs/<%= @jobs.id %>/edit">Edit Job</a> 

<form class="" action="/jobs/<%= @jobs.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete this Job">
</form>
