<h3><%= @jobs.title %></h3>
<img src="<%= @jobs.image_url %>" alt="<%= @jobs.title %>" height="200" width="200"><br><br>
<strong>Created At: <%= @jobs.created_at %></strong>
<p><%= @jobs.description %></p><br>
<p><%= @jobs.user.name %></p>